#my-button {
    -fx-background-color: #38B6FF;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-background-radius: 15px;
    -fx-translate-x: -50%;
    -fx-translate-y: -50%;
    -fx-cursor: hand;
}

#my-button:hover {
    -fx-background-color: #1f6892;
    -fx-text-fill: white;
}


#my-field-user-con {
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #8f8e8e48;
    -fx-background-radius: 15px;
    -fx-padding: 10px 20px;
}

#my-field-user-con:placeholder {
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
}

#my-button-nav-barre {
    -fx-background-color: #38B6FF;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-background-radius: 15px;
    -fx-translate-x: -50%;
    -fx-translate-y: -50%;
    -fx-cursor: hand;
    -fx-margin: 10px 20px; /* Add horizontal margin */
}

#my-button-nav-barre:hover {
    -fx-background-color: #1f6892;
    -fx-text-fill: white;
}


#nav-barre {
    -fx-background-color: #8f8e8e00;
    -fx-padding: 18px 80px;
}

.my-label-user-con{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

#my-button-label {
    -fx-background-color: #ffffff00;
    -fx-text-fill: #38B6FF;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

#my-button-label:hover {
    -fx-text-fill: #1f6892;
}
